@model IEnumerable<Project.Models.Dtos.SaleCoinDtos>
@{
    ViewData["Title"] = "OrderSaleCoins";
}
<!-- Datatable CSS -->
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Quản Lý xu</h1>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" asp-action="Index" asp-controller="Order" asp-area="Admins">Danh sách hóa đơn mua xu</a>
      <a class="nav-item nav-link active show" id="nav-profile-tab" href="#">Danh sách hóa đơn Rút xu</a>
      @*<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact">Contact</a>*@
    </div>

        <div class="col-md-12">
            <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Tên Hóa đơn</th>
                        <th>Tên người mua</th>
                        <th>Số xu rút</th>
                        <th>Trạng thái rút xu</th>
                        <th>Ngày rút xu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr role="row" class="odd">
                            <td>@item.Id</td>
                            <td>@(item.ApplicationUser.FirtsName+" "+item.ApplicationUser.LastName)</td>
                            <td>$@item.amountcoin</td>
                            <td>
                                @if(item.TransactionStatus is false){
                                    <span class="badge badge-info">Đang chờ duyệt</span>
                                }
                            </td>
                            <td>@item.DateCreate</td>
                            <td>
                                <div class="d-flex flex-row">
                                <form class="mr-2" asp-action="OrderSaleCoins">
                                    <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                    <button type="submit" class="btn btn-primary mb-2">Xác nhận</button>
                                </form>
                                <form asp-action="Delete">
                                    <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger mb-2">Xóa</button>
                                </form>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

@section Scripts{
    <!-- Datatables js -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "lengthMenu": 'Hiện thị  <select>' +
                        '<option value="10">10</option>' +
                        '<option value="20">20</option>' +
                        '<option value="30">30</option>' +
                        '<option value="40">40</option>' +
                        '<option value="50">50</option>' +
                        '<option value="-1">Tất cả</option>' +
                        '</select> Dòng',
                    "search": "Tìm:",
                    "info": "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                    "paginate": {
                        "next": "Tới",
                        "previous": "Lùi lại"
                    }
                },
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style:    'os',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]]
            });
        });
    </script>
}
